body {
  background: url(/static/media/trianglify.571e4090.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: unset;
}
.Cursor--blinking {
  display: none !important;
}

.navbar.center .navbar-inner {
  text-align: center;
}

h2, h3 {
  font-family: 'Abril Fatface', cursive;
  color: azure;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

#defaultNav {
  margin-top: 15px;
  width: auto;
}

.nav-link {
  color: white ;
}

.active {
  background: crimson !important;
}

#profilePic {
  border-radius: 50%;
  width: auto;
  max-height: 350px;
  filter: grayscale(100%);
  margin-top: 35px;
}
